git+https://git@github.com/yjg30737/pyqt-style-setter.git@main
git+https://git@github.com/yjg30737/pyqt-custom-titlebar-setter.git@main
git+https://git@github.com/yjg30737/pyqt-toast.git@main
git+https://git@github.com/yjg30737/pyqt-viewer-widget.git@main
git+https://git@github.com/yjg30737/python-open-filepath-and-select.git@main
git+https://git@github.com/yjg30737/pyqt-svg-icon-pushbutton.git@main